<div class="home-container">
  <div class="title">
    <h1> Books on the library </h1>
  </div>
  <table class="books-table">
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to book.title, book %></td>
        <td class="opacity dark-opacity"><%= book.author.name %></td>
        <td class="opacity dark-opacity"><%= book.year %></td>
        <% if user_signed_in? %>
          <% if !current_user.requested?(book) %>
            <td id='<%= book.id %>'>
              <%= link_to 'Request', requests_path(book_id: book.id), method: :post, remote: true, class: "bold underlined" %>
            </td>
          <% else %>
            <td class="<% if current_user.request_status(book) == "denied"%>denied bold<% else %>bold light-opacity <% end %>"><%= current_user.request_status(book) %></td>  
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
