<!DOCTYPE html>
<html>
  <head>
    <title>ProjectLibrary</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/header.html.erb' %>
    <% if flash.any? && flash[:error].present?  %>
      <%= render partial: 'layouts/errors.html.erb' %>
    <% end -%>
    <%= yield %>
  </body>
</html>
